
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Team</title>
  </head>
  <body>
    <form action="/team" method="post">
      <div class="teams">
        <p>Team Name: <input type="text" name="team[:name]" value=""></p>
        <p>Team Motto: <input type="text" name="team[:motto]" value=""></p>
      </div>

      <div class="heroes">
        <div>
          <p>Hero's Name: <input type="text" name="" value=""></p>
          <p>Hero's Power: <input type="text" name="" value=""></p>
          <p>Hero's Biography: <input type="text" name="" value=""></p>
        </div>
        <div>
          <p>Hero's Name: <input type="text" name="" value=""></p>
          <p>Hero's Power: <input type="text" name="" value=""></p>
          <p>Hero's Biography: <input type="text" name="" value=""></p>
        </div>
        <div>
          <p>Hero's Name: <input type="text" name="" value=""></p>
          <p>Hero's Power: <input type="text" name="" value=""></p>
          <p>Hero's Biography: <input type="text" name="" value=""></p>
        </div>
      </div>
    </form>
  </body>
</html>
